<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}{% endblock %}</title>
        <link rel="stylesheet" href="/style.css">
        <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-3903846318031214"
     crossorigin="anonymous"></script>
    </head>

    <body>
        <header>
            <div id="site_menu">
                <a href="/">hr8yFEYN</a>
            </div>
        </header>
        <main>
          {% block content %}{% endblock %}
        </main>

        <hr>

        <footer>
            {% set tags = get_taxonomy(kind="tags") %}
            <nav style="text-align: center;padding-bottom: 1.5em">
                {% for term in tags.items | sort(attribute="page_count") | reverse %}
                <span><span style="color:gray">#</span><a href="{{ term.permalink }}">{{ term.name }}</a></span>
                {% endfor %}

            </nav>

            <div>
            <a href="https://creativecommons.org/licenses/by/4.0/"><img class="copyright" src="https://licensebuttons.net/l/by/3.0/88x31.png" alt="CC BY 4.0"></a>
            </div>
            <div class="addr"><a href="mailto:hr8yfeyn@gmail.com">hr8yFEYN@gmail.com</a></div>
        </footer>

        <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-3903846318031214"
     crossorigin="anonymous"></script>
<!-- hr8yFEYN.com 01 -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-3903846318031214"
     data-ad-slot="2173328920"
     data-ad-format="auto"
     data-full-width-responsive="true"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>
    </body>
</html>
